# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Mike Gonzalez
	email = mike.gonzalez@team.bumble.com
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[push]
	default = current
